<h1>
    <small>Play 2.2.1 + AngularJS + RequireJS + WebJars + Social Auth</small>
</h1>
<p>
    This is just a very basic sample application so I could play around and deal with a single-page's app security.
    An oauth provider(facebook and google) are used to authorize a user. Angular frontend uses the generated token for signing the requests.
</p>
<p>
    <button class="btn btn-primary" data-ng-click="ping()">Ping Needs Auth</button>
    <button class="btn btn-primary" data-ng-click="login('google')">Log in With Google</button>
    <button class="btn btn-primary" data-ng-click="login('facebook')">Log in With Facebook</button>
    <button class="btn btn-primary" data-ng-click="logout()">Logout</button>
</p>